################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoDashboard/.vs
/CryptoDashboard/CryptoDashboard/bin/Debug/net8.0
/CryptoDashboard/CryptoDashboard/obj
